/* table start */
.user-table{
    max-width: 100%;
    overflow-x: scroll;
}
.card-number-table,
.simple-table{
    > thead > tr > th,
    > tbody > tr > td{
        text-align: center;
    }
}
.table{
    width: 96%;
    min-width: 500px;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    border-collapse: collapse;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    > thead > tr > th,
    > tbody > tr > td{
        padding: 5px;
        color: #2b2929;
        font-size: 13px;
        font-weight: 500;
        border: 1px solid #073265;
    }
    > thead > tr > th{
        font-weight: bold;
        padding: 10px 5px;
        font-size: 14px;
        text-align: center;
    }
}
/* table end */

select {
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    min-width: 100px !important;
    border: 1px solid #073265;
    font-size: 14.5px;
    font-weight: 500 !important;
    color: #073265 !important;
    outline: none;
    border-radius: 5px;
}
.report-table{
    min-width: 500px;
    > tbody > tr > td{
        font-family: "Poppins", serif;
        font-size: 12px;
    }
}
.center-item{
    text-align: center;
}

.card-request-table{
    min-width: 700px;
}

/* table end section*/
.table-end{
    margin: 10px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > div{
        display: flex;
        align-items: center;
    }
}
/* table end section*/

.user-show-no{
    > select{
        font-size: 13px;
        min-width: 10px !important;
        padding: 2px;
        margin: 0;

    }
    > p{
        margin: 0%;
        margin-left: 5px;
        font-size: 13px;
    }
}
.pagination-btns{
    > button{
        border: none;
        outline: none;
        height: 30px;
        width: 35px;
        font-size: 13px;
        background-color: transparent;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    > button:first-child{
        color: white;
        background-color: #073265;
    }
}


@media (max-width: 450px) {
    .user-show-no{
        display: block !important;
        > p{
            margin-left: 0px;
            margin-top: 5px;
        }
    }
    .pagination-btns{
        > button{
            height: 25px;
            width: 30px;
        }
        > button:first-child{
            color: white;
            background-color: #073265;
        }
    }
}
