.categories-area{
    margin-top: 100px;
    margin-bottom: 100px;
}
.categories{
    gap: 15px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    .categories-img{
        height: 80px;
        width: 80px;
        > img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}
.categories-details{
    > h4{
        margin: 0%;
        font-size: 16px;
        font-weight: 600;
    }
    > p{
        margin: 0%;
        font-size: 13.5px;
        font-weight: 550;
    }
}
.upto{
    gap: 5px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #E22A25;
    color: rgb(249, 250, 249);
    font-family: 'Poppins', sans-serif;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    > img{
        height: 30px;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
}
    > p{
        margin: 0%;
        font-size: 12px;
        font-weight: 550;
    }
}